* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    font-family: 'Open Sans'
}
.wrapper-content {
    width: 250px;
    background: lightblue;
    margin: 0 auto;
}
header {
    background: lightblue;
    padding: 10px;
}
nav {
    min-height: 400px;
    overflow: auto;
    background: rgb(229, 243, 248);
}
.form {
    min-height: 100px;
    background: rgb(187, 187, 187);
    padding: 30px 0px 0px 20px;
}
input[type=text] {
    height: 30px;
    border: none;
}
#submit {
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    background: rgb(94, 171, 197);
    border: none;
    box-shadow: 2px 3px 2px lightblue;
    font-weight: bold;
}
span {
    font-size: 12px;
}
li {
    background: white;
    padding: 5px 0px 5px 10px;
    cursor: pointer;
}
.checked {
    text-decoration: line-through
}